.env*
.git
.gitignore
.codeclimate.yml
.dockerignore
.gitlab-ci.yml
.hound.yml
.travis.yml
LICENSE.md
README.md
dip.yml
docker-compose.*
Dockerfile*
.docker/theme/*
.docker/git/hooks/*
bin/init_docker.sh
log/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*
tmp/*
.DS_Store
.overmind.sock
